#wrapper{
    margin: 0 auto;
    width: 90%;
    background-image:url('http://www.descoperalocuri.ro/wp-content/uploads/2013/10/Sfinxul-din-Bucegi3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.header{
    background: blue;
    height:80px
}
.menu{
    background: black;
    height:30px
}
.a{
    border:  2px solid orange;
    color: white;
    padding: 0 13%;
}
.footer{
    background: blanchedalmond;
}